
@font-face {
    font-family: Gotham;
    src: url(css/Gotham\ Medium.tts.otf);
  }
  @font-face {
    font-family: Gotham-bold;
    src: url(/css/Gotham\ Bold.otf);
  }
  @font-face {
    font-family: Gotham-book;
    src: url(/css/Gotham_Book.otf);
  }
  
.p-color {
    color: #01355D;
    font-family: Gotham;
    font-weight: 900;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15%;
}

.h-color {
    color: #01355D;
    font-family: Gotham-bold;
    font-size: 20px;
    margin-top: 10%;
    
}

.carousel-indicators .active {
    background-color: #F8951D;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #707070;
}

.carousel-indicators {
    position: relative;
    right: 0;
    /* bottom: 10px; */
    top: 20px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
}

.slide1-img{
    margin-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.benefits{
    margin-top: 13%;
    list-style: none;
    font-size: 15px;
    color: #01355D;
    font-family: Gotham;
    font-weight: 500;
    padding-left: 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}
.carousel-control-next {
    right: 0;
    height: 100vh;
    width: 30px;
}
.carousel-control-prev {
    left: 0;
    height: 100vh;
}

.caption{
    color: #F8951D;
    font-family: Gotham-bold;
    padding-left: 13%;
    padding-right: 8%;
    font-size: 15px;
    margin-top: -10px;
}
.documents{
    list-style: none;
    font-size: 15px;
    color: #01355D;
    font-family: Gotham;
    font-weight: 500;
    padding-left: 30px;
}

.registration-process{
    padding-left: 40px;
    padding-right: 30px;
    list-style: none;
    font-size: 16px;
    color: #01355D;
    font-family: Gotham;
    font-weight: 500;
}
.registration-process li {
    counter-increment: li; 
    margin-bottom: 25px;
    line-height: 1.2;
}
.myli{
    margin-top: 30px;
}

.registration-process li::before {content: counter(li); color: #F8951D;
    display: inline-block; width: 1em;
    font-weight: bold;
    margin-left: -1em}

.ques-2{
    white-space: initial;
    line-height: 1.2;

}
.card-header{
    padding: 0;
    
    padding-bottom: 5px;
    font-size: 15px;
    color: #01355D;
    font-family: Gotham;
    font-weight: 500;
    
}
.card-body{
    padding-top: 0;
    padding-left: 47px;
    padding-right: 50px;
    font-size: 12px;
    font-family: Gotham-book;
    line-height: 1.1;
}



.carousel-wrap {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    position: relative;
  }
  .item{
      width: 90%;
      z-index: 99;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */


  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
/*   
    margin-top: 50vh; */
  }
  
  .owl-nav .owl-next {
    right: -30px;
   /* padding-top: 50vh;
    margin-left: auto; */
  }
  .owl-nav{
      display: flex;

    top: 0;
    bottom: 0;
    
    z-index: 9;
}

  .owl-carousel .owl-item img {
    display: inline-block;
    width: 15px;
    -webkit-transform-style: preserve-3d;
}

.owl-item{
   display: flex;
   justify-content: center;
   align-items: center;
    margin: 0;
    height: 100%;
    z-index: 90;
  
}

.owl-dots{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 30px;
    left: 0;
    background-color: white;

}

.owl-dot{
    background-color: #707070;
    height: 3px;
    width: 32px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    
}

.owl-dots .active{
    background-color: #F8951D;
}

.double-line-li{
    width: 200px;
    line-height: 1.2;
}

/* .double-line-li span{
    margin-left: 25px;
} */
.double-line-li2{
    width: 200px;
    line-height: 1.2;
}
/* .double-line-li2 span{
    margin-left: 20px;
} */

.faq-btn{
    display: flex;
}

.carousel-wrap {
    margin: 40px auto;
    padding: 0 4%;
    width: 90%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
    top: 0;
    height: 100%;
    color: transparent;
  }
  
  .owl-nav .owl-next {
    right: -30px;
    top: 0;
    height: 100%;
    color: transparent;
  }

  .item{
    width: 100%;
    z-index: 99;
}
.owl-item{
    display: flex;
    margin: 0;
    justify-content: center;
}

.card-header img{
    width: 18px !important;
}
.typeformcontentheading{
    font-family: Gotham-bold;
    font-size: 15px;
    text-decoration: underline;
    color: #01355D;
}
.typeformcontenttext{
    font-family: Gotham-book;
    font-size: 15px;
    color: #01355D;
}
.my-gst-btn{
    font-family: Gotham-bold;
    font-size: 15px;
    color: #01355D;
    text-align: left;
    margin-top: 1px;
    border-radius: 0;
    border: 1px solid #F8951D;
}

.activetypeform{
    background-color: #F8951D;
    color: white;
    font-family: Gotham-bold;
    font-size: 15px;
}
.special img{
    width: 18px !important;
}

.down-img{
    position: absolute;
    margin-top: 19px;
    margin-left: -20px;
}
@media (max-width: 322px ){
    .card-header img{
        width: 15px !important;
    }
}